head
  title Parking
  link(href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' rel='stylesheet' integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU' crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&#038;subset=latin%2Clatin-ext' rel='stylesheet' type='text/css' media='all')
  link(href='/assets/css/main.css' rel='stylesheet')
