include inc/header.pug
body
    div(class='wrapper-container')
        header(id="apus-header" class="site-header header-v1 hidden-sm hidden-xs" role="banner")
            div(class="main-sticky-header-wrapper" style="height: 96px;")
                div(class="main-sticky-header")
                    div(class="header-main")
                        div(class="header-inner visible-table")
                            div(class="pull-left")
                                div(class="visible-table")
                                    div(class="logo-in-theme pull-left")
                                        div(class="logo logo-theme")
                                            a(href="https://demoapus.com/findgo/")
                                                img(class="logo-main hidden" src="https://demoapus.com/findgo/wp-content/themes/findgo/images/logo.png" alt="FindGo")
                                                img(class="logo-second" src="https://demoapus.com/findgo/wp-content/themes/findgo/images/logo-white.png" alt="FindGo")
                                    div(class="site-header-mainmenu pull-right")
                                        nav(data-duration="400" class="apus-megamenu slide animate navbar" role="navigation")
                                            div(class="collapse navbar-collapse no-padding")
                                                ul(class="apus-nav navbar-nav megamenu")
                                                    li(class="dropdown active menu-item-31 aligned-")
                                                        a(href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown")
                                                            | Home&nbsp;
                                                            b(class="fa fa-angle-down")
                                                        <ul class="dropdown-menu">
                                                            li(class="active menu-item-36 aligned-")
                                                                a(href="https://demoapus.com/findgo/") Home 1
                                                            li(class="menu-item-37 aligned-")
                                                                a(href="https://demoapus.com/findgo/home-2/") Home 2
                                                            li(class="menu-item-38 aligned-")
                                                                a(href="https://demoapus.com/findgo/home-3/") Home 3
                                                            li(class="menu-item-39 aligned-")
                                                                a(href="https://demoapus.com/findgo/home-4/") Home 4
                                                            li(class="menu-item-40 aligned-")
                                                                a(href="https://demoapus.com/findgo/home-5/") Home 5
include inc/footer.pug
